.page-item .page-link {
  z-index: 1;
  color: rgb(43, 42, 41);
  background-color: #ffffff;
  border-color: #ffffff;
}

.page-item.active .page-link {
  z-index: 1;
  color: #2b2a29;
  background-color: #f2b849;
  border-color: #f9fafa;
}

.form-check-input:checked {
  background-color: #f2b849;
  border-color: #f2b849;
}

h3 {
  color: #2b2a29;
}

h3 {
  color: #2b2a29;
}

a {
  text-decoration: none;
}

